extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                Envoyer un mail à 
                    a(href="mailto:#{user.email}")= user.username
